.header {
  display: inline-flex;
  font-family: Verdana, sans-serif;
}

.header a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav {
  display: inline-flex;
  align-items: flex-end;

}

body {
  font-family: sans-serif;
}
