header {
  display: flex;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 14;
  color: MediumAquamarine;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  margin: 10px;
}

header a {
  text-decoration: none;
  color: black;
}

nav a {
  padding: 10px;
  text-decoration: underline;
}

body {
  font-family: sans-serif;
}
